<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/icon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/view/style.css">
    <div class="header">
        <button class="btn btn-outline-secondary"><a href="/movies">Movies Information</a></button>
        <button class="btn btn-outline-secondary"><a href="/theaters">Theaters Near You</a></button>
        <button class="btn btn-outline-secondary"><a href="https://www.fandango.com/moviesintheaters" target="_blank">Movies Playing(Fandango)</a></button>
    </div>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <h2>Movie Notes</h2>
    <div class="input">
        <div class="row">
            <div class="col">
                <input id="name" type="text" placeholder="Movie Name" class="form-control">
            </div>
            <div class="col">
                <input id="notes" type="text" placeholder="Movie Notes" class="form-control">
            </div>
            <div class="col">
                <button class="btn btn-dark">Save</button>
            </div>
        </div>
    </div>
    <br>
    <p></p>
    <script src="index.js"></script>
</body>

</html>